*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    background-color: rgb(216, 143, 8);
}
.c{
    background-color: rgb(161, 200, 174);
    padding: 2rem;
    border-radius: 0.9rem;
    min-height: 45vh;
    width: 40vh;
    text-align: center;
}
form{
    margin: 2rem 0 2rem 1rem;
}
form input, button{

    width: 100%;
    border: none;
    opacity: none;
    border-radius: 0.55rem;
}
form select{
    width: 100%;
    border: none;
    opacity: none;
    border-radius: 0.3rem;
}
form input{
    position: relative;
    top: -1rem;
border: 1px solid rgb(211, 211, 211);
font-size: large;
height: 3rem;
padding-left: 0.5rem;
opacity: 1;
text-shadow: none;

}
.dd {
    display: flex;
    justify-content: space-between;
    align-self: center;
   position: relative;
   left: -1rem;
}
#l{
    margin-top: 1.3rem;
    position: relative;
    right:2rem ;
}
#m{
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right:1.2rem ;
}
.msg{
    margin-top: 1.2rem;
}
button{
    margin-top: 0.7rem;
    height: 2rem;
    border: 2px solid transparent;
    background-color: rgb(100, 51, 146);
    color: white;
}
button:hover{
    border: 3px solid black;

   
}
.a{
    margin-bottom: 1.3rem;
    font-size: larger;
}
#k{
    position: relative;
    left: 1.6rem;
}
.sc:hover{
   border: 2px solid black;
}
.sc img{
 
max-width: 2rem;

}
.sc{
    display:flex ;
    width: 6rem;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 0.3rem;
}
option{
    border-top-right-radius: 0.6rem;
}